@import "tailwindcss";


@media print {
  

  nav,                
  button,            
  a,                 
  footer             
  {
    display: none !important;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important; 
    color: black !important; 
  }
  
  .bg-slate-950, .bg-slate-900 {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ddd !important; 
  }

  .text-white, .text-slate-200, .text-slate-400 {
    color: black !important;
  }
  
  @page {
    margin: 20px;
    size: auto;
  }
}